<main class="grid-container">
  <header class="header">
    <app-header titulo="CREAR PRODUCTO"></app-header>
  </header>
  <nav class="menu"><app-menu-admin></app-menu-admin></nav>
  <article class="contenido">
    <form [formGroup]="formularioCrearProducto">
      <div class="formulario">
        <span class="titulo">Nombre de producto</span>
        <div class="input-group mb-3">
          <input
            formControlName="nombreProducto"
            type="text"
            class="form-control"
            placeholder=""
            aria-label="cantidad"
            aria-describedby="basic-addon1"
          />
        </div>

        <span class="titulo">Venta Unitaria</span>
        <div class="input-group mb-3">
          <input
            formControlName="ventaUnitaria"
            type="number"
            class="form-control"
            placeholder=""
            aria-label="cantidad"
            aria-describedby="basic-addon1"
          />
        </div>

        <div id="botones">
          <button
            id="crear"
            [disabled]="formularioCrearProducto.invalid"
            (click)="crear()"
            type="button"
            class="btn btn-warning"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Crear
          </button>

          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    APP tienda Huevos
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="cancelar()"
                  ></button>
                </div>
                <div class="modal-body">
                  {{ respuestaback }}
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    (click)="cancelar()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button
            id="cancelar"
            type="button"
            class="btn btn-warning"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </article>
  <footer class="footer"><app-footer></app-footer></footer>
</main>
