<form [formGroup]="formularioLogin">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mb-md-1 mt-md-1 pb-1">
                <h2 class="fw-bold mb-2 text-uppercase">Huevos la granja</h2>
                <p class="text-white-50 mb-5">
                  Por favor ingrese su usuario y contraseña!
                </p>

                <div class="form-outline form-white mb-4">
                  <input
                    id="typeEmailX"
                    class="form-control form-control-lg"
                    formControlName="usuario"
                  />
                  <label class="form-label" for="typeEmailX">Usuario</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    formControlName="contrasenia"
                  />
                  <label class="form-label" for="typePasswordX"
                    >Contraseña</label
                  >
                </div>

                <button
                  [disabled]="formularioLogin.invalid"
                  (click)="iniciarSesion()"
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                  type="reset"
                >
                  Iniciar sesión
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
