<p>menu-aux works!</p>
<ul class="dropdown-menu">
    <li><span class="dropdown-item-text">Infomres</span></li>
    <li><a class="dropdown-item" href="#">Inventarios</a></li>
    <li><a class="dropdown-item" href="#">Ventas</a></li>
    <li><span class="dropdown-item-text">Bodega</span></li>
    <li><a class="dropdown-item" href="#">Ajuste Inventario</a></li>
    <li><span class="dropdown-item-text">Producto</span></li>
    <li><a class="dropdown-item" href="#">Crear</a></li>
    <li><a class="dropdown-item" href="#">Actualizar</a></li>
    <li><span class="dropdown-item-text">Usuarios</span></li>
    <li><a class="dropdown-item" href="#">Crear</a></li>
    <li><a class="dropdown-item" href="#">Actualizar</a></li>
  </ul>