/* You can add global styles to this file, and also import other style files */
main{
    height: auto;
}
.grid-container{
    display: grid;
    grid-template:
    "header header"      auto
    "menu   contenido"   auto
    "footer footer"      auto;
    background-color: gainsboro;
    grid-template-columns: 300px;

}.header{
    grid-area: header;
}
.menu{
    grid-area: menu;    
}
.contenido{
    grid-area: contenido;
    height: 500px;    
}
.footer{
    display: flex;
    justify-content: center;
    grid-area: footer;
}